.dropdown-menu {
  background-color: var(--bg-color-dark);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 30%);
  left: 0;
  min-width: 154px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
}

.dropdown-item {
  align-items: center;
  background-color: var(--bg-color-light);
  border-bottom: 1px solid #2c2c2c;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  gap: .5rem;
  justify-content: flex-start;
  margin-bottom: 2px;
  padding: 15px 20px;
  text-align: left;
  text-decoration: none;
  transition: background-color .3s;
}

.dropdown-item .material-symbols {
  font-size: 24px;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background: var(--button-gradient-orange);
}
