.group-menu-content {
  align-items: center;
  display: flex;
  gap: 15px;
  position: relative;
}

.group-menu-icones {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 15px;
}

.group-menu-icones svg {
  align-items: center;
  display: flex;
  
  &:hover {
    border-radius: var(--button-border-radius-small);
    box-shadow: 2px 2px 0 2px rgb(0 0 0 / 20%);
  }
}

.group-menu-connexion {
  align-items: center;
  background-color: var(--bg-color-dark);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  min-width: 154px;
  padding: 5px;
  position: relative;
  transition: background-color .3s;
}

.mobile {
    min-width: 0;
}

.mobile .dropdown-menu {
  left: -50px;
}

.group-menu-connexion:has(.dropdown-menu) {
  border-radius: 10px 10px 0 0;
}

.group-menu-connexion:hover {
  background-color: var(--bg-color-darker);
}

.group-menu-connexion img {
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
  width: 40px;
}

.group-menu-connexion-text {
  color: white;
  margin: 0 auto;
  text-decoration: none;
}

.group-menu-connexion-text.authenticated h4 {
  color: #fff;
  font-size: 14px;
  margin: 0;
}

.group-menu-connexion-text.authenticated p {
  color: #ccc;
  font-size: 12px;
  margin: 0;
}

.group-menu--disconnect {
  align-items: center;
  background-color: var(--bg-color-dark);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  padding: 5px;
}

.group-menu--disconnect:hover {
  background-color: var(--bg-color-darker);
}

.group-menu--disconnect button {
  background: transparent;
  border: none;
  cursor: pointer;
}
