.sidebar-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  background: var(--bg-color-normal);
  position: relative;
  transition: width 500ms;
  z-index: 2;

  @media screen and (width <= 1024px) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.sidebar-container--collapsed {
  width: 80px;
  transition: width 500ms;

  @media screen and (width <= 1024px) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -150px;
  }
}

.sidebar-collapse {
  position: absolute;
  top: calc(var(--header-height) / 2 - 1rem);
  right: -2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: white;
  background-color: var(--bg-color-normal);
  z-index: 3;
  border: 0;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width <= 1024px) {
  .sidebar-collapse {
    right: -2rem;
  }
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-height);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-content hr {
  margin: 0.5rem;
  border: none;
  border-top: 1px solid #e0e0e0;
}
