.category-bloc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category-bloc span {
    color: white;
    flex: none;
    flex-grow: 0;
    font-size: 12px;
    font-weight: 400;
    height: 16px;
    order: 0;
    text-align: center;
    width: 68px;
}

.category-bloc-category {
    align-items: center;
    background: var(--bg-color-darker);
    border-radius: 3px;
    display: flex;
    flex: none;
    flex-grow: 0;
    gap: 10px;
    height: 32px;
    order: 0;
    padding: 8px 13px;
    width: fit-content;
}

.category-bloc-category-more {
    align-items: center;
    background: var(--bg-color-darker);
    border-radius: 3px;
    display: flex;
    flex: none;
    flex-grow: 0;
    gap: 10px;
    height: 32px;
    order: 0;
    padding: 4px;
    width: fit-content;
}