.promo-expiry-date {
    height: fit-content;
    width: fit-content;
}

.promo-header {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    position: relative;

    @media screen and (width <= 1024px) {
        flex-wrap: wrap;
    }
}

.promo-price {
    align-items: center;
    display: flex;
    gap: 20px;
    
    @media screen and (width <= 1024px) {
        flex-wrap: wrap;
    }
}