.filter-sidebar-container {
    background-color: var(--bg-color-darker);
    border-radius: .25rem;
    color: white;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: .5rem;
    max-height: calc(100vh - var(--header-height) * 2);
    overflow: auto;
    padding: 1rem;
    position: sticky;
    scrollbar-width: thin;
    top: 2rem;
    width: 15rem;
}

.filter-sidebar-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}