.game-images {
  justify-content: center;
  width: 100%;
}

.flicking-panel {
  width: 300px;
}

.flicking-panel img {
  border-radius: 5px;
  height: 150px;
  max-height: 100%;
  object-fit: cover;

  @media (max-width: 768px) {
    height: 100%;
    width: 100%;
  }
}
