.game-images-wrapper {
  position: relative;
  width: 100%;
}

.big-image-swiper {
  margin-bottom: 20px;
}

.big-image-swiper .swiper-wrapper {
  height: 500px;

  & .large {
    height: 900px;
  }
}

.panel-image {
  height: 100%;
  width: 100%;
}

.swiper-thumbs {
  height: 110px;
}

.swiper-thumbs .thumb-image {
  height: 100%;
}

.thumbs-swiper .swiper-slide-thumb-active img {
  transform: scale(1.1);
  transition: transform .2s ease-in-out;
}

.swiper-thumbs .swiper-slide {
  height: 100px;
  padding: 5px;
}

.swiper-slide-thumb {
  position: relative;
}

.swiper-thumbs .swiper-slide-thumb {
  padding: 10px;
}

.swiper-slide-thumb-active {
  position: relative;
}

.swiper-slide-thumb-active .progress-bar {
  animation: progressBarAnimation 5.2s linear;
  background-color: var(--bg-color-orange);
  border-radius: 10px;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
}

@keyframes progressBarAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.swiper-slide-thumb:not(.swiper-slide-thumb-active) .progress-bar {
  animation: none;
  width: 0;
}

@media (width <= 1200px) {
  .swiper-wrapper {
    height: 400px;
  }

  .panel-image {
    height: 100%;
  }

  .swiper-thumbs {
    height: 100px;
  }

  .swiper-thumbs .swiper-slide {
    height: 80px;
  }
}

.swiper-button-prev,
.swiper-button-next {
    background-color: var(--bg-color-dark);
    color: white;
    height: 70px;
    width: 40px;
}

.swiper-button-prev::after, .swiper-button-next::after {
  align-items: center;
  display: flex;
}