.game-description {
  @media (width <= 1200px) {
    display: none;
  }
}

.game-description h2 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.game-description p {
  color: white;
  line-height: 1.6;
  text-align: justify;
} 

.game-description-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (width <= 1200px) {
    max-width: 800px;
    width: 100%;
  }
}

.game-description-image {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: fit-content;
  max-width: 900px;
  max-height: 280px;

  @media (width <= 1200px) {
    max-height: 100%;
  }
}

.game-description-image img {
  height: 100%;
  border-radius: 8px;
  object-fit: contain;
  width: 100%;
}
