.game-review-container {
  background-color: var(--bg-color-darker);
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  min-width: 300px;
  padding: 1rem;
}

.game-review-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.game-review-user-info {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.game-review-content-user-avatar {
  border-radius: 50%;
  height: 42px;
  object-fit: cover;
  width: 42px;
}

.game-review-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.game-review-commentary {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  min-width: 15rem;
}

.game-review-content-rating {
  align-items: flex-end;
  background-color: var(--bg-color-dark);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: auto;
  padding: .5rem;
}

.game-review-content-rate-only .game-review-content-rating {
  margin: 0;
  width: 100%;
}

.game-review-content-rating-title {
  align-self: self-start;
}

.game-review-content-rating-values {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.game-review-content-rating-label {
  align-items: center;
  display: flex;
  gap: .5rem;
  text-align: end;
}

.game-review-date {
  text-align: right;
}