.review-editor-container {
  background-color: var(--bg-color-darker);
  border-radius: .5rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.review-editor-header {
  align-items: center;
  display: flex;
}

.review-editor-header_game-name {
  font-weight: bold;
}

.review-editor-content {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 3.3rem;
  overflow: hidden;
  transition: height .2s ease-in-out;
}

.review-editor-content-focused {
  height: auto;
  height: calc-size(auto, size);
}

.review-editor-content .review-editor-commentary {
  border-radius: .5rem;
  box-shadow:
    0 4px 6px rgb(0 0 0 10%),
    0 1px 3px rgb(0 0 0 8%);
  flex: 1;
  min-width: 20rem;
  overflow: hidden;
  position: relative;
}

.review-editor-content .review-editor-commentary .editor-textarea {
  background-color: var(--bg-color-dark);
  border: 1px solid var(--border-color);
  color: white;
  height: 100%;
  outline: none;
  padding: 1rem;
  resize: none;
  width: 100%;

  /* stylelint-disable-next-line */
  --Textarea-focusedHighlight: var(--bg-color-light);
}

.editor-textarea-length {
  bottom: 0;
  color: #676a6d;
  font-size: .75rem;
  position: absolute;
  right: .25rem;

  &.editor-textarea-length-max {
    color: var(--bg-color-red);
  }
}

.editor-rating {
  background-color: var(--bg-color-dark);
  border-radius: .5rem;
  box-shadow:
    0 4px 6px rgba(0 0 0 10%),
    0 1px 3px rgba(0 0 0 8%);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: .75rem;
  height: 3.3rem;
  margin: auto;
  max-width: max-content;
  padding: 1rem;
}

.review-editor-content-focused .editor-rating {
  height: auto;
  height: calc-size(auto, size);
}

.editor-rating-values {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.editor-rating-value {
  align-items: center;
  display: flex;
  gap: .5rem;
  text-wrap: nowrap;
}

.review-editor-submit-button {
  background-color: var(--bg-color-blue-normal);
  border: none;
  border-radius: .5rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: .5rem 1rem;
  transition: background-color .3s ease-in-out;

  &:hover {
    background-color: var(--bg-color-blue-lighter);
  }

  &:disabled {
    background-color: var(--bg-color-blue-normal);
    cursor: not-allowed;
    opacity: .5;
  }
}
