.main-header {
  align-items: center;
  background-color: var(--bg-color-normal);
  color: white;
  display: flex;
  gap: 20px;
  height: var(--header-height);
  justify-content: space-between;
  max-height: var(--header-height);
  min-height: var(--header-height);
  padding: 0 1rem;
}

.search-bar {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  position: relative;
}

.search-bar input {
  background-color: var(--bg-color-lighter);
  border: none;
  border-radius: 1rem;
  max-width: 250px;
  padding: 10px 10px 10px 35px;
  width: 100%;
}

.search-icon {
  height: 8px;
  left: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-bar input::placeholder {
  color: white;
}

.search-bar input:focus {
  outline: none;
}

.groupMenu-Styled {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.sidebar-toggle {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
}
