.price-box {
    width: auto;
}

.price-box-old-price {
    height: fit-content;
    position: relative;
    width: fit-content;
}

.price-box-old-price h3 {
    color: var(--bg-color-lightest);
    text-decoration: line-through white 2px;
}

.price-box-price.green h3 {
    color: var(--bg-color-green);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    height: fit-content;
}