.price-box {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.price-box-container {
    align-items: center;
    display: flex;
    gap: .5rem;
    height: fit-content;
    position: relative;
    width: fit-content;
}

.price-box-discount-rate {
    background: var(--bg-color-green);
    border-radius: 3px;
    height: 100%;
    min-width: 50px;
    padding: 5px;
    text-align: center;
    width: fit-content;

    & h3 {
        color: #0E141B;
        font-size: 19px;
        font-weight: 700;
    }
}

.price-box-prices {
    align-items: end;
    color: white;
    display: flex;
    flex-direction: column;
}

.price-box-old-price {
    color: var(--bg-color-lightest);
    font-size: .85rem;
    text-decoration: line-through rgb(112 112 112);
}

.on-promotion .current-price {
    color: var(--bg-color-green);
}