.game-details-container {
    background: var(--bg-color-normal);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 1rem;
    padding: 2rem;

    @media (width <= 1200px) {
        margin: 1rem auto;
        max-width: 900px;
        width: 90%;
    }

    @media (width <= 768px) {
        min-width: 240px;
    }
}

.game-details__header {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    @media (width <= 1200px) {
        flex-direction: column-reverse;
        gap: 3rem;
    }
}

.game-details__gallery {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 900px;
    width: 60%;

    @media (width <= 1200px) {
        align-items: center;
        width: 100%;
    }
}

.game-details__gallery img {
    border-radius: 8px;
    height: 100%;
    max-width: 900px;
    object-fit: cover;
    width: 100%;
}

.game-details__overview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    width: 35%;

    @media (width <= 1200px) {
        max-width: unset;
        width: 100%;
    }

    @media (width <= 768px) {
        flex-direction: column;
        margin: 0 auto;
    }
}

.game-details__thumbnail {
    border-radius: 8px;
}

.game-details__main {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    @media screen and (width <= 1200px) {
        flex-direction: column;
        width: 100%;
    }
}

.game-details__primary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    max-width: 900px;
    width: 60%;

    @media screen and (width <= 1200px) {
        width: 100%;
    }
}

.game-details__purchase {
    background-color: var(--bg-color-darker);
    border-radius: var(--button-border-radius-lg);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    max-width: 900px;
    padding: 1rem;
    width: 100%;

    @media screen and (width <= 1200px) {
        width: 100%;
    }
}

.game-details__secondary {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 500px;
    width: 35%;

    @media screen and (width <= 1200px) {
        max-width: unset;
        width: 100%;
    }
}

.game-details__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game-review-group {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    row-gap: 2rem;

    @media screen and (width <= 1000px) {
        grid-template-columns: 1fr;
        
    }
}