.game-info {
  background: var(--bg-color-normal);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem auto;
  padding: 2rem;
  width: 80%;

  @media (max-width: 1200px) {
    width: 90%;
  }

  @media (max-width: 768px) {
    max-width: 500px;
    min-width: 240px;
  }
}

.game-info-title {
  color:white;
}

.game-info-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;

  @media (max-width: 1200px) {
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

.game-info-container-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: 1200px) {
    align-items: center;
    width: 100%;
  }
}

.game-info-container-left img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;

  @media (max-width: 1200px) {
    width: 80%;
  }
}

.game-info-container-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 450px;

  @media (max-width: 1200px) {
    flex-direction: row;
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 0 auto;
  }
}

.game-info-container-right img {
  border-radius: 8px;
}