.game-card {
    align-self: stretch;
    background: var(--bg-color-normal);
    border-radius: 5px;
    display: flex;
    flex: none;
    flex-grow: 0;
    gap: 20px;
    height: fit-content;
    min-height: 150px;
    min-width: 240px;
    order: 0;
    padding: 10px;
    width: 100%;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        margin: 0 auto;
        max-height: unset;
        max-width: 300px;
    }
}

.game-card-image {
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.game-card-image img {
    width: 250px;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.game-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-card-content-title {
    color: white;
    height: fit-content;
}

.game-card-content-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
}

.game-card-content-price {
    align-self: flex-end;
    height: fit-content;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.game-card-content-progress-bar {
    align-items: center;
    backdrop-filter: blur(2px);
    background: rgb(0, 0, 0, 0.5);
    border-radius: 0 3px 0 0;
    bottom: 0;
    left: 0;
    padding: 0 8px;
    position: absolute;
    right: 0;
    width: 150px;
}