.game-card {
    align-self: stretch;
    background: var(--bg-color-normal);
    border-radius: 5px;
    display: flex;
    flex: none;
    flex-grow: 0;
    gap: 20px;
    height: fit-content;
    min-height: 150px;
    min-width: 240px;
    order: 0;
    padding: 10px;
    width: 100%;
    user-select: none;

    @media screen and (width <= 1024px) {
        flex-direction: column;
        margin: 0 auto;
        max-height: unset;
        max-width: 300px;
    }
}

.game-card-image {
    border-radius: 3px;
    display: flex;
    margin: 0 auto;
    position: relative;
}

.game-card-image::after {
    bottom: 0;
    content: "";
    height: 30%;
    left: 0;
    position: absolute;
    transition: height 0.3s ease;
    width: 100%;
    z-index: 1;
}

.game-card:hover .game-card-content-progress-bar {
    bottom: 0;
    opacity: 1;
    z-index: 2;
}

.game-card-image img {
    width: 250px;
    

    @media screen and (width <= 1024px) {
        width: 100%;
    }
}

.game-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    @media screen and (width <= 1200px) {
        gap: 20px;
    }
}

.game-card-content-title a{
    color: white;
    height: fit-content;
    text-decoration: none;
}

.game-card-content-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;

    @media screen and (width <= 1024px) {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
}

.game-card-content-price {
    align-self: flex-end;
    height: fit-content;

    @media screen and (width <= 1024px) {
        width: 100%;
    }
}

.game-card-content-progress-bar {
    align-items: center;
    backdrop-filter: blur(2px);
    border-radius: 0 3px 0 0;
    bottom: 0px;
    left: 0;
    padding: 0 8px;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton-image,
.skeleton-text {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, var(--bg-color-light) 4%, var(--bg-color-normal) 25%, var(--bg-color-light) 36%);
  background-size: 1000px 100%;
  border-radius: 4px;
}