.game-card {
    display: flex;
    padding: 10px;
    width: calc(100% - 240px);
    gap: 20px;
    height: 166px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background: var(--bg-color-normal);
    border-radius: 5px;
}

.game-card-image {
    display: flex;
    border-radius: 3px;
}

.game-card-image img {
    width: 250px;
}

.game-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.game-card-content-title {
    height: fit-content;
}

.game-card-content-title {
    color: white;
}

.game-card-content-data {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
    }
}

.game-card-content-price {
    height: fit-content;
}

.game-card-content-progress-bar {
    display: flex;
    align-items: center;
}