.wish-button-container {
    position: absolute;
    right: 0;
}

.wish-button {
    align-items: center;
    background-color: var(--bg-color-dark);
    border: none;
    border-radius: var(--button-border-radius-small);
    cursor: pointer;
    display: flex;
    padding: 5px;

    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.wish-button svg {
    align-self: center;
}

.wish-button-container-large .wish-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 200px;
    padding: 8px 12px;
    background-color: var(--bg-color-blue-normal);
    color: white;
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.wish-button-container-large .wish-button:hover {
    background-color: var(--bg-color-blue-lighter);
}
