@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    --mobile-width-size: 768px;
    --tablet-width-size: 1024px;
    --laptop-width-size: 1440px;

    /* Colors */
    --bg-color-blue-darker: #0065D3;
    --bg-color-blue-dark: #006FE8;
    --bg-color-blue-light: #1786FF;
    --bg-color-blue-lighter: #2C91FF;
    --bg-color-blue-normal: #4B619B;
    --bg-color-darker: #1b232e;
    --bg-color-dark: #212a38;
    --bg-color-green: #A1CD44;
    --bg-color-light: #2d3748;
    --bg-color-lighter: #323d4e;
    --bg-color-lightest: #454f5e;
    --bg-color-brightest: #454F5E;
    --bg-color-normal: #273142;
    --bg-color-orange: #FFA500;
    --bg-color-red: #CD5444;

    /* Color Scheme */
    background-color: #242424;
    color: rgb(255 255 255 / 87%);
    color-scheme: light dark;

    /* Font */
    font-family: Nunito, serif;

    /* Typography */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizelegibility;

    /* Gradient */
    --button-gradient-orange: linear-gradient(-125deg, #f2b705, #f28a07);

    /* Radius */
    --button-border-radius-small: 4px;
    --button-border-radius-lg: 10px;
    --button-border-radius-md: 7px;
    --button-border-radius-xl: 12px;
    --header-height: 3.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    @media (prefers-color-scheme: light) {
        :root {
            background-color: #fff;
            color: #213547;
        }
        
        a:hover {
            color: #747bff;
        }
        
        button {
            background-color: #f9f9f9;
        }
    }
    
    .regular-16 {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .regular-12 {
        font-size: .75rem;
        font-weight: 400;
    }
    
    .logo {
        height: 6em;
        padding: 1.5em;
        transition: filter 300ms;
        will-change: filter;
    }
    
    .logo:hover {
        filter: drop-shadow(0 0 2em #646cffaa);
    }
    
    @keyframes logo-spin {
        from {
            transform: rotate(0deg);
        }
        
        to {
            transform: rotate(360deg);
        }
    }
    
    @media (prefers-reduced-motion: no-preference) {
        a:nth-of-type(2) .logo {
            animation: logo-spin infinite 20s linear;
        }
    }
}