@font-face {
  font-family: "Nunito";
  font-weight: 700;
  src: url('assets/fonts/Nunito-Regular.woff') format('woff2'),
       url('assets/fonts/Nunito-Regular.woff') format('woff');
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: italic;
  src: url('assets/fonts/Nunito-Italic.woff') format('woff2'),
       url('assets/fonts/Nunito-Italic.woff') format('woff');
}

:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: royalblue;
  --secondary-color: darkslateblue;

  --background-color-primary: #273142;
  --background-color-secondary: #323D4E;

  --button-border-radius: 4px;
  
  --header-height: 64px;
}

body {
  font-weight: 700;
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--background-color-primary);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 1;
}
button:hover {
  border-color: var(--background-color-secondary);
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
