@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
    /* Colors */
    --bg-color-blue-darker: #0065D3;
    --bg-color-blue-dark: #006FE8;
    --bg-color-blue-light: #1786FF;
    --bg-color-blue-lighter: #2C91FF;
    --bg-color-blue-normal: #007AFF;
    --bg-color-darker: #1b232e;
    --bg-color-dark: #212a38;
    --bg-color-green: #A1CD44;
    --bg-color-light: #2d3748;
    --bg-color-lighter: #323d4e;
    --bg-color-lightest: #454f5e;
    --bg-color-normal: #273142;
    --bg-color-orange: #FFA500;
    --bg-color-red: #FF5C5C;

    /* Font */
    font-family: "Nunito", serif;

    /* Gradient */
    --button-gradient-orange: linear-gradient(0deg, #f2b705, #f28a07);

    /* Radius */
    --button-border-radius: 4px;
    --button-border-radius-lg: 10px;
    --button-border-radius-md: 7px;
    --button-border-radius-xl: 12px;
    --header-height: 3.5rem;

    /* Color Scheme */
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    color-scheme: light dark;

    /* Typography */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        background-color: #ffffff;
        color: #213547;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
