.app-layout {
  display: flex;
  background-color: var(--bg-color-lighter);
  color: rgba(0, 0, 0, 0.87);
  height: 100vh;
  overflow: hidden;
}

.right-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  overflow: auto;
}
