.hivegames-menuItem {
  align-items: center;
  color: white;
  display: flex;
  gap: .25rem;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  text-decoration: none;
  width: 100%;
}

.hivegames-menuItem::before {
  background: var(--button-gradient-orange);
  border-radius: 0 10px 10px 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: opacity .2s ease-in-out;
  width: .25rem;
}

.hivegames-menuItem:not(.active):hover::before {
  opacity: 1;
}

.hivegames-menuItem > label {
  align-items: center;
  border-radius: var(--button-border-radius-md);
  cursor: pointer;
  display: inline-flex;
  gap: .5rem;
  padding: .5rem 1rem;
  width: 100%;
}

.sidebar-container--collapsed {
  gap: 0;
  margin: 0 auto;
}

.hivegames-menuItem.active > label {
  background: var(--button-gradient-orange);
  border-radius: var(--button-border-radius-md);
}

.sidebar-container--collapsed .hivegames-menuItem > label > span {
  display: none;
}
