.hivegames-menuItem {
  align-items: center;
  color: white;
  display: flex;
  gap: .25rem;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0 10px;
  text-decoration: none;
  width: 100%;
}

.hivegames-menuItem > span {
  background: var(--button-gradient-orange);
  border-radius: 0 10px 10px 0;
  height: 100%;
  opacity: 0;
  width: .25rem;
}

.hivegames-menuItem > label {
  align-items: center;
  border-radius: var(--button-border-radius-md);
  cursor: pointer;
  display: inline-flex;
  gap: .5rem;
  padding: .5rem 1rem;
  width: 100%;
}

.sidebar-container--collapsed {
  gap: 0;
  margin: 0 auto;
}

.hivegames-menuItem:not(.active):hover span {
  opacity: 1;
}

.hivegames-menuItem.active > label {
  background: var(--button-gradient-orange);
  border-radius: var(--button-border-radius-md);
}

.sidebar-container--collapsed .hivegames-menuItem > label > span {
  display: none;
}
