.hivegames-menuItem {
  display: flex;
  padding: 0 10px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: white;
  overflow: hidden;
  gap: 0.25rem;
  width: 100%;
}

.hivegames-menuItem > span {
  height: 100%;
  width: 0.25rem;
  border-radius: 0 10px 10px 0;
  opacity: 0;
  background: var(--button-gradient-orange);
}

.hivegames-menuItem > label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: var(--button-border-radius-md);
  padding: 0.5rem 1rem;
  width: 100%;
  cursor: pointer;
}

.sidebar-container--collapsed {
  gap: 0;
  margin: 0 auto;
}

.hivegames-menuItem:not(.active):hover span {
  opacity: 1;
}

.hivegames-menuItem.active > label {
  background: var(--button-gradient-orange);
  border-radius: var(--button-border-radius-md);
}

.sidebar-container--collapsed .hivegames-menuItem > label > span {
  display: none;
}
